p{
    color: hsl(0, 100%, 50%);
}
body{
    /* background-image: url("flower.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
}