body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 30px;
  height: 80px;
}

.box {
  width: 60px;
  height: 60px;
  background: steelblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

/* Flex variations */
.flex-start {
  justify-content: flex-start;
  align-items: flex-start;
  /* align-items: stretch; */
}

.center {
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.flex-end {
  justify-content: flex-end;
  align-items: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.container1 {
  display: flex;
  border: 2px solid black;
  height: 120px;
  margin-bottom: 30px;
}

.boxx {
  width: 60px;
  background: tomato;
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

.stretch {
  align-items: stretch;
}

.navbar{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  background: #333;
  color: white;
}

.menu{
  display: flex;
  gap:20px;
  list-style: none;
}

.cards{
  display: flex;
  gap:30px;
  padding: 20px;
}

.card1{
  /* flex-grow:2; */
  /* flex:1; */
  border:2px solid black;
}
.card2{
  flex-shrink:0;
  border:2px solid black;
}
.card3{
  flex-basis:400px;
  border:2px solid black;
  flex-shrink:0;
}

.flex {
  display: flex;
  height: 200px;
  gap: 20px;
  border: 2px solid black;
}
.item {
  background: orange;
  padding: 80px;
}

.one{
  flex-grow:1;
  order:-2
}

.two{
   flex-grow: 2;
   align-self:center;
   order:1;
}
.three{
  order:-1;
}