body {
  position: relative;
}

/* Parent 1 creates stacking context */
.parent1 {
  position: relative;
  width: 200px;
  height: 200px;
  background: lightblue;
  z-index: 1;
  margin: 50px;
}

/* Child with very high z-index */
.child1 {
  position: absolute;
  top: 40px;
  left: 40px;
  background: red;
  color: white;
  padding: 10px;
  z-index: 999;
}

/* Parent 2 */
.parent2 {
  position: absolute;
  top: 50px;
  left: 80px;
  width: 200px;
  height: 100px;
  background: green;
  z-index: 10;
  color: white;
  padding: 10px;
}
